@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

:root {
  --h-header: 50px;
  --bg-color: #28282a;
  --red-color: #d20409;
}
html {
  width: 100%;
  min-width: 300px;
}

body {
  margin: 0px;
  background-color: var(--bg-color);
  color: white;
}

a {
  text-decoration: none;
  color: white;
}
a:hover {
  text-decoration: none;
  color: var(--red-color);
}

.button {
  appearance: button;
  margin: 10px;
  padding: 10px;
  border: 3px solid white;
  border-radius: 10%;
  background-color: white;
}

.home {
  width: clamp(100px, 75%, 600px);
  margin: auto;
}
.nav-bar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 50px;
  background-color: var(--bg-color);
  z-index: 1;
}
.nav-bar ul {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}
.nav-bar li {
  display: inline;
  margin: 4%;
}
.nav-bar li a {
  text-decoration: none;
  color: white;
}
.nav-bar li a:hover {
  text-decoration: none;
  color: var(--red-color);
}
.grid-cv {
  display: grid;
  grid-template-columns: 50% 50%;
  place-items: center;
}
#cv-photo {
  width: clamp(100px, 80%, 600px);
  max-width: 100%;
}

.main-text {
  display: grid;
  grid-template-rows: 50% 30% 20%;
  place-items: center;
  height: 100%;
}

.animation-write {
  width: 100%;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid var(--red-color); /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em; /* Adjust as needed */
  animation: typing 3s steps(26, end), blink-caret 0.75s step-end infinite;
}

.btn-outline-primary:hover,
.btn-outline-primary:focus,
.btn-outline-primary:active {
  background-color: red;
  border-color: var(--red-color);
}

.btn-outline-primary {
  background-color: white;
  border-color: var(--red-color);
  border-radius: 15%;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: var(--red-color);
  }
}
.grid {
  display: grid;
  grid-template-columns: 100%;
  place-items: center;
}

.scroll-margin {
  scroll-margin-top: calc(var(--h-header));
}
.experience p {
  width: clamp(100px, 75%, 600px);
}
.img-border {
  border-radius: 5%;
  filter: drop-shadow(2px 2px 0 white) drop-shadow(-2px 2px 0 white)
    drop-shadow(2px -2px 0 white) drop-shadow(-2px -2px 0 white);
  max-width: 50%;
  padding: 20px 0px 20px 0px;
}
.everis {
  border-radius: 5%;
  filter: drop-shadow(1px 1px 0 white) drop-shadow(-1px 1px 0 white)
    drop-shadow(1px -1px 0 white) drop-shadow(-1px -1px 0 white);
}
