@import url(node_modules/bootstrap/dist/css/bootstrap.css);

:root {
  --h-header: 60px;
  --bg-color: #28282a;
  --red-color: #d20409;
  --safron-color: #eac435;
  --caribean-color: #03cea4;
  --orange-color: #fb4d3d;
  --carmine-color: #ca1551;
  --blueviolet-color: #8a2be2;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0px;
  color: white;
  background-color: var(--bg-color);
}
.scroll-margin {
  scroll-margin-top: calc(var(--h-header) - 1px);
}
.button {
  margin: 10px;
  padding: 10px;
  border: 3px solid white;
  border-radius: 10%;
  background-color: white;
}
.btn-outline-primary:hover,
.btn-outline-primary:focus,
.btn-outline-primary:active {
  background-color: #eac435;
  border-color: white;
}
.btn-outline-primary {
  background-color: white;
  border-color: white;
  border-radius: 25%;
}
#navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: var(--h-header);
  background-color: var(--bg-color);
  z-index: 1;
}
#navbar a {
  text-decoration: none;
  color: white;
}
#navbar a:hover {
  text-decoration: none;
  color: var(--red-color);
}
#welcome-section {
  display: grid;
  place-items: center;
  grid-template-rows: 80% 20%;
  height: calc(100vh - var(--h-header));
  margin-top: var(--h-header);
  background-image: linear-gradient(var(--bg-color), var(--blueviolet-color));
}
#welcome-text {
  margin-top: 5%;
}
#arrow {
  animation: blink 2s infinite;
}
@keyframes blink {
  from {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  to {
    opacity: 1;
  }
}
#home {
  width: clamp(100px, 75%, 600px);
  margin: auto;
}
.grid-cv {
  display: grid;
  grid-template-columns: 50% 50%;
  place-items: center;
}
#cv-photo {
  width: clamp(100px, 80%, 600px);
  max-width: 100%;
}
.main-text {
  display: grid;
  grid-template-rows: 80% 20%;
  place-items: center;
  height: 100%;
}
.animation-write {
  width: 100%;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid var(--red-color); /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em; /* Adjust as needed */
  animation: typing 3s steps(26, end), blink-caret 0.75s step-end infinite;
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: var(--red-color);
  }
}
#experience p {
  width: clamp(100px, 75%, 600px);
}
.logo {
  width: 1.5rem;
}
.grid {
  display: grid;
  grid-template-columns: 100%;
  place-items: center;
}
.img-border {
  border-radius: 5%;
  filter: drop-shadow(2px 2px 0 white) drop-shadow(-2px 2px 0 white)
    drop-shadow(2px -2px 0 white) drop-shadow(-2px -2px 0 white);
  max-width: 50%;
  padding: 20px 0px 20px 0px;
}
.everis {
  border-radius: 5%;
  filter: drop-shadow(1px 1px 0 white) drop-shadow(-1px 1px 0 white)
    drop-shadow(1px -1px 0 white) drop-shadow(-1px -1px 0 white);
}
