@import url(../node_modules/bootstrap/dist/css/bootstrap.css);

* {
  box-sizing: border-box;
}
*::before,
*::after {
  box-sizing: inherit;
}
:root {
  --h-header: 60px;
  /*used colors*/
  --bg-color: #28282a;
  --red-color: #fa0005;
  --white-color: #fff;
  --black-color: #000;
  --grey-color: #ddd;
  --dark-grey-color: #ccc;
  --darkest-grey-color: #555;
  --dark-color: #222;
  --blueviolet-color: #8a2be2;
  /*not used colors */
  --safron-color: #eac435;
  --caribean-color: #03cea4;
  --orange-color: #fb4d3d;
  --carmine-color: #ca1551;
}
html {
  scroll-behavior: smooth;
  font-family: system-ui;
}
body {
  margin: 0px;
  color: var(--white-color);
  background-color: var(--bg-color);
}
.invert {
  filter: invert(1);
}
.scroll-margin {
  scroll-margin-top: calc(var(--h-header) - 1px);
}
.scroll-margin-contact {
  scroll-margin-top: calc(var(--h-header) + 50px - 1px);
}
.btn:hover,
.btn:focus,
.btn:active {
  background-color: var(--white-color);
  filter: brightness(0.9);
}
.btn-outline-primary:hover,
.btn-outline-primary:focus,
.btn-outline-primary:active {
  border-color: var(--white-color);
}
.btn-outline-primary {
  background-color: var(--white-color);
  border-color: var(--white-color);
  border-radius: 25%;
}
#navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: var(--h-header);
  background-color: var(--bg-color);
  z-index: 2;
  flex-wrap: nowrap;
  font-size: small;
}

#navbar a:hover {
  text-decoration: none;
  color: var(--red-color);
}
.nav-link {
  color: var(--white-color);
}
.active {
  color: var(--red-color);
}
#gradient {
  height: calc(100% - var(--h-header));
  background-image: linear-gradient(
    var(--bg-color),
    var(--blueviolet-color) 95%,
    var(--bg-color)
  );
}
#home {
  display: grid;
  place-items: center;
  grid-template-rows: 80% 20%;
  height: calc(100vh - var(--h-header));
  margin-top: var(--h-header);
}
#welcome-text {
  margin: 3em;
  z-index: 1;
}
#social-media {
  margin-top: 0.5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: var(--h-header);
}
#home > a {
  z-index: 1;
}
#arrow {
  animation: blink 2s infinite;
  margin-top: 4em;
}
@keyframes blink {
  from {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  to {
    opacity: 1;
  }
}
#theme {
  padding: 2px 2px 2px 2px;
  border-radius: 100%;
  z-index: 1;
  position: relative;
  top: 100px;
  left: 0px;
}
#grid-cv {
  display: grid;
  place-items: center;
}
#cv-photo {
  width: 100%;
  max-width: 12em;
  height: auto;
  margin-bottom: 0.5rem;
  border-radius: 10%;
  filter: drop-shadow(1px 1px 0 var(--white-color))
    drop-shadow(-1px 1px 0 var(--white-color))
    drop-shadow(1px -1px 0 var(--white-color))
    drop-shadow(-1px -1px 0 var(--white-color)) brightness(1.2);
}
.animation-write {
  width: 100%;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid var(--red-color); /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em; /* Adjust as needed */
  animation: typing 3s steps(26, end), blink-caret 0.75s step-end infinite;
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: var(--red-color);
  }
}
.wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.wave svg {
  position: relative;
  display: block;
  width: calc(180% + 1.3px);
  height: 140px;
}

.wave .shape-fill {
  fill: var(--bg-color);
}
#experience h2 {
  margin: 20px;
  border: 1px solid var(--white-color);
  border-radius: 20px;
  padding: 10px;
  text-align: center;
}
#experience h3 {
  margin: 20px;
}
#experience p {
  width: clamp(100px, 75%, 600px);
}
.logo {
  width: 1.5rem;
}
.grid {
  display: grid;
  grid-template-columns: 100%;
  place-items: center;
}
.img-border {
  border-radius: 5%;
  filter: drop-shadow(1px 1px 0 var(--white-color))
    drop-shadow(-1px 1px 0 var(--white-color))
    drop-shadow(1px -1px 0 var(--white-color))
    drop-shadow(-1px -1px 0 var(--white-color));
  padding: 20px 0px 20px 0px;
}
#everis-img {
  width: 200px;
}

#ucm-img {
  width: 200px;
}

#rtu-img {
  width: 200px;
}

#projects {
  margin-bottom: 50px;
}

#projects > h2 {
  display: grid;
  place-items: center;
  margin-top: 28px;
}
.card {
  background-color: var(--dark-color);
}

.card-img-top {
  padding: 10px;
  height: 20vh;
  object-fit: cover;
}

.card-title {
  color: var(--black-color);
  color: var(--white-color);
}

.card-text {
  color: var(--black-color);
  color: var(--white-color);
}

.btn-primary {
  color: var(--white);
  background-color: var(--blueviolet-color);
  border-color: var(--blueviolet-color);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  border-color: var(--blueviolet-color);
  background-color: var(--blueviolet-color);
  filter: brightness(1.2);
}

.card {
  width: 18rem;
}

#carrousell {
  display: flex;
  justify-content: space-around;
  margin: 50px 150px 0px 150px;
}

#contact {
  display: grid;
  place-items: center;
  background-color: var(--bg-color);
  margin: 150px 150px 50px 150px;
}

form {
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 60px;
  margin: 12px auto;
  border: 2px solid var(--dark-grey-color);
  border-radius: 20px;
  position: relative;
}

form > div {
  position: absolute;
  top: 0;
  left: 50%;
  padding: 0 20px;
  transform: translate(-50%, -50%);
  background-color: var(--black-color);
  border: 2px solid var(--dark-grey-color);
  border-radius: 20px;
  text-align: center;
}

form > div > img {
  filter: invert(1);
  width: 100px;
}

form > input,
form > textarea {
  padding: 12px;
  margin: 12px auto;
  border: 1px solid var(--dark-grey-color);
  color: var(--grey);
  background-color: var(--dark-color);
  border-radius: 4px;
  display: block;
  width: 70vw;
}

form > textarea {
  height: 100px;
  resize: none;
}

form > input[type="submit"] {
  max-width: 20vw;
  padding-left: 1%;
  padding-right: 1%;
  cursor: pointer;
  transition: 0.35s;
}

form > input[type="submit"]:hover {
  background-color: var(--darkest-grey-color);
}

#footer {
  display: grid;
  grid-template-columns: 100%;
  place-items: center;
  margin: 2em;
}

@media (max-width: 1200px) {
  #carrousell {
    display: grid;
    grid-gap: 5vh;
  }
  form > input,
  form > textarea {
    width: 50vw;
  }
}
@media (max-width: 700px) {
  #contact {
    margin: 100px 0px 0px 0px;
  }
  form {
    border: 0px;
  }
  form > input,
  form > textarea {
    width: 80vw;
  }
}

@media (min-width: 1200px) {
  #carrousell {
    display: flex;
    margin: 50px 150px 0px 150px;
  }
  form > input,
  form > textarea {
    width: 70vw;
  }
}
@media (min-width: 700px) {
  #contact {
    margin: 150px 150px 50px 150px;
  }
  form {
    border: 2px solid var(--dark-grey-color);
  }
}
